<IfModule mod_rewrite.c>
	RewriteEngine on
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /index.php?path=$1 [L,QSA]
</IfModule>
php_value short_open_tag 1
php_flag display_startup_errors on
php_flag display_errors on
php_flag html_errors on
php_flag log_errors on
php_value error_reporting E_ALL
php_value error_log /var/www/trucklink/PHP_errors.log